@page
@model Grocery.UI.Pages.GroceryStore.AddToCart
@{
}




<div id="back-button" class="text-center">
    <a asp-page="/Index" class="btn btn-success btn-lg">
        Back To home
    </a>
</div>




